<template>
  <div class="min-h-screen bg-gray-200 pb-10">
    <div class="pt-24 py-5">
      <p class="md:text-3xl text-xl md:w-1/3 text-blue-400 text-center font-black mx-auto flex-wrap">
        Temukan Pelayan-Pelayan Masyarakat untuk anda dukung dan pilih
      </p>
    </div>
    <div class="mx-auto px-8 sm:px-10 max-w-2xl pb-16 md:pb-5">
      <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"><svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></div>
        <input
            type="search"
            v-model="search"
            class="block p-4 pl-10 w-full text-sm text-black bg-gray-50 rounded-lg border focus:ring-blue focus:border-blue"
        >
        <button
            @click="clearSearch"
            class="text-gray-700 hover:text-gray-900 absolute sm:right-2.5 sm:top-2 sm:bottom-2 bg-gray-300 hover:bg-gray-400 font-sm px-4 w-full sm:w-auto rounded-full"
        >
          X
        </button>
      </div>
    </div>
    <div class="grid md:grid-cols-3 gap-4 md:mx-40 mx-12 py-12">
      <div class="bg-blue-200 rounded-lg p-3" v-for="leader in leaderStore.getLeadersList" :key="leader.id">
        <img
            class="rounded-full w-24 h-24 m-3 mx-auto"
            :src="leader.picUrl">
        <p class="mx-auto text-center font-bold text-gray-600">{{ leader.name }}</p>
      </div>
    </div>
    <div class="mx-auto w-96">
      <m-pagination
          :current-page="leaderStore.pagination.currentPage"
          :total-page="leaderStore.pagination.totalPage"
          @onClick="changePage"
      />
    </div>
  </div>
</template>

<script>
import { useLeader } from "@/store/leader";
import MPagination from "@/components/Pagination";

export default {
  name: "LeaderIndex",
  components: {MPagination},
  data() {
    return {
      search: '',
      currentPage: 1,
      totalPage: 20,
      options: {
        edgeNavigation: false,
        format: false
      }
    }
  },
  setup() {
    const leaderStore = useLeader()

    return {
      leaderStore
    }
  },
  mounted() {
    this.currentPage = this.$route.query.page
    this.search = this.$route.query.q
    this.leaderStore.$patch({
      pagination: {
        currentPage: this.currentPage
      },
      params: {
        q: this.search
      }
    })
    console.log(this.leaderStore.pagination.totalPage)
    this.leaderStore.fetchLeadersList()
  },
  watch: {
    currentPage() {
      this.leaderStore.$patch({
        pagination: {
          currentPage: this.currentPage
        }
      })
      this.leaderStore.fetchLeadersList()
    },
    search() {
      this.leaderStore.$patch({
        params: {
          q: this.search
        }
      })
      const params = this.query
      this.$router.push({query: {...params}})
      this.leaderStore.fetchLeadersList()
    }
  },
  computed:{
    query() {
      return {q: this.search, page: this.currentPage}
    }
  },
  methods: {
    clearSearch() {
      this.search = ''
    },
    changePage(page) {
      this.$router.push({query: {
        page: page
      }})
      this.currentPage = page
      const params = this.query
      this.$router.push({query: {...params}})
    }
  }
}
</script>