<template>
  <nav>
    <ul class="grid md:grid-cols-10 grid-cols-7  gap-y-5 gap-x-7">
      <li @click="goToPreviousPage">
        <a :class="buttonClass(-1)"> {{"<"}} </a>
      </li>
      <li @click="changePage(i + 1)" v-for="i in Array.from(Array(totalPage).keys())" :key="i">
        <a :class="buttonClass(i)">{{ i + 1 }}</a>
      </li>
      <li @click="goToNextPage">
        <a :class="buttonClass(-1)"> {{ ">" }} </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "MPagination",
  props: {
    currentPage: Number,
    totalPage: Number,
  },
  methods: {
    buttonClass(page) {
      if (page === this.currentPage - 1) {
        return "px-2 py-2 ml-0 bg-blue-400 hover:bg-blue-500 text-white"
      } else {
        return "px-2 py-2 ml-0 bg-blue-200 hover:bg-blue-300 text-white"
      }
    },
    goToPreviousPage() {
      const previousPage = this.currentPage - 1
      if (this.currentPage > 1) {
        this.$emit('onClick', previousPage)
      }
    },
    changePage(page) {
      this.$emit('onClick', page)
    },
    goToNextPage() {
      const nextPage = this.currentPage + 1
      if (this.currentPage < this.totalPage) {
        this.$emit('onClick', nextPage)
      }
    }
  }
}
</script>

<style scoped>

</style>