<template>
  <div id="app">
    <nav>
      <NavbarComponent />
    </nav>
    <router-view/>
  </div>
</template>

<script>
import NavbarComponent from "@/components/Navbar";
export default {
  components: {NavbarComponent}
}
</script>